/* start */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
hr{
    height: 0.5px;
    background-color: gray;
    border: none;
}


.pageOverLay{
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    z-index: 10;
    visibility: hidden;
    opacity: 0.6;
    background: black;
    transition-timing-function: linear;
    transition: 0.3s;
}

/* ----- Logo Zone ----- */
.header{
    width: 100%;
    height: 50px;
    position: fixed;
    z-index: 90;
    background-color: white;
}

/* logo */
.header .logo{
    width: 40%;
    height: 50px;
    margin: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
}

.header .logo a{
    height: 100%;
    margin: auto;
}

.header .logo img{
    height: 100%;
}

/* menu button */
.header .MenuButton{
    width: 70px;
    height: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    position: fixed;
    top: 0;
    left: 0;
    text-align: center;
    cursor: pointer;
}

.header .MenuButton .barMenu{
    font-size: xx-large;
    display: none;
    visibility: hidden;
}


/* search button */

.header .search{
    width: 70px;
    height: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    position: fixed;
    top: 0;
    right: 70px;
    text-align: center;
}
.header .cart  .searchIcon{
    margin-right: 10px ;
    font-size: x-large;
    cursor: pointer;
}

.header .search a{
    color: grey;
    font-size: 16px;
    text-decoration: none;
}

.header .search a:hover{
    color: black;
}

/* cart button */
.header .cart{
    width: 70px;
    height: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    position: fixed;
    top: 0;
    right: 0;
    text-align: center;
}

.header .cart a{
    color: grey;
    font-size: 16px;
    text-decoration: none;
}

.header .cart a:hover{
    color: black;
}

/* ----- Menu Zone ----- */
.menuMobile{
    transform: translateX(0);
    transition: 0.3s;
    top: 49px;
    padding-top: 20px;
    padding-bottom: 10px;
}
.menuMobile ul{
    list-style: none;
}
.menuMobile ul a{
    text-decoration: none;
    color: rgb(102, 97, 97);
}
.menuMobile{
    position: absolute;
    width: 300px;
    z-index: 99;
    display: none;
    visibility: hidden;
    background-color: white;
    transition: opacity 2s ease 0.25s, transform 0.5s ease 0.25s;
    transform: translateX(0);
    padding-left: 3rem;
    padding-right: 3rem;
}
.menuMobile .men{
    display: flex;
    justify-content: space-between;
}
.menuMobile .men .menName{
    width: 20%;
    text-align: left;
    padding-left: 0;
}
.menuMobile .men .menDetail{
    width: 80%;
    text-align: right;
}

.menuMobile .women{
    display: flex;
    justify-content: space-between;
}
.menuMobile .women .womenName{
    width: 20%;
    text-align: left;
    padding-left: 0;
}
.menuMobile .women .womenDetail{
    width: 80%;
    text-align: right;
}





.menuZone{
    width: 100%;
    height: 50px;
    background-color: white;
    position: fixed;
    z-index: 10;
    top: 50px;
    border-bottom-style: inset;
    border-bottom-color: #a3a3a3;
}

.menuZone ul.listParentMenu{
    width: 90%;
    height: 100%;
    display: flex;
    justify-content: center;
    list-style: none;
    margin: auto;
}

.menuZone ul.listParentMenu .parentMenu{
    position: relative;
    width: 100%;
}

.menuZone ul.listParentMenu .parentMenu .parentItem{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    padding: 10px;
    margin: auto;
    transition: 0.2s;
}

.menuZone ul.listParentMenu .parentMenu:hover .parentItem{
    border-bottom-style: inset;
    border-bottom-color: #000000;
}

.menuZone ul.listParentMenu .parentMenu .parentItem a.parentName{
    height: 100%;
    color: #5c5c5c;
    text-decoration: none;
    font-family: 'Aviano Sans Regular';
    text-transform: uppercase;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 14px;
    transition: 0.4s;
}

.menuZone ul.listParentMenu .parentMenu:hover .parentItem a.parentName{
    color: #000000;
}

.menuZone ul.listParentMenu .parentMenu .childMenu{
    position: absolute;
    top: 50px;
    left: 0;
    visibility: hidden;
    opacity: 0;
    z-index: 10;
    border-left-style: solid;
    border-left-color: #f7f7f7;
    border-right-style: solid;
    border-right-color: #f7f7f7;
    border-bottom-style: solid;
    border-bottom-color: #f7f7f7;
    transition: 0.5s;
}

.menuZone ul.listParentMenu .parentMenu:hover .childMenu{
    visibility: visible;
    opacity: 1;
}

.menuZone ul.listParentMenu .parentMenu .childMenu ul.listChildMenu{
    list-style: none;
}

.menuZone ul.listParentMenu .parentMenu .childMenu ul.listChildMenu li a{
    display: block;
    color: #5c5c5c;
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma;
    text-transform: uppercase;
    font-size: 14px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    transition: 0.4s;
    background-color: white;
}

.menuZone ul.listParentMenu .parentMenu .childMenu ul.listChildMenu li a:hover{
    background-color: gray;
    color: white;
}

/* ----- Background ----- */
.background{
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 0;
    top: 50px;
}

.background img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* ----- Space ----- */
.space{
    width: 100%;
    height: 25px;
    margin: 0;
}

.spaceEnd{
    width: 100%;
    height: 25px;
    margin: 0;
    border-bottom-style: inset;
    border-bottom-color: #a3a3a3;
}

/* ----- Body ----- */
.body{
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 9;
    top: 50px;
    z-index: 9;
}

/* -- Slide -- */
.body .slideBackground{
    width: 100%;
    height: 500px;
    position: relative;
    z-index: 8;
}

.body .slideBackground .ChildSlide{
    position: relative;
    width: 100%;
    height: 100%;
}

.body .slideBackground .ChildSlide .carousel-inner{
    width: 100%;
    height: 100%;
}

.body .slideBackground .ChildSlide .carousel-inner .carousel-item{
    width: 100%;
    height: 100%;
}

.body .slideBackground .ChildSlide .carousel-inner .carousel-item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.4s;
}

.body .slideBackground .ChildSlide .carousel-inner .carousel-item img.slideImgMoblie{
    opacity: 0;
    left: 0;
    top: 0;
    position: absolute;
}

.body .slideBackground .ChildSlide .filter{
    opacity: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.4s;
}

.body .slideBackground:hover .ChildSlide .filter{
    opacity: 0.6;
}

.body .slideBackground .ChildSlide .contentslide{
    text-align: center;
    opacity: 0;
    width: 100%;
    position: absolute;
    top: 225px;
    left: 0;
    transition: 0.4s;
    transform: scale(0.8);
}

.body .slideBackground .ChildSlide .contentslide h1{
    text-transform: uppercase;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.body .slideBackground:hover .ChildSlide .contentslide{
    opacity: 1;
    transform: scale(1);
}

/* -- collection -- */
.body .collection{
    width: 100%;
    position: relative;
    z-index: 9;
    background-color: white;
}

.body .collection .titleLine{
    width: 40%;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-items: center;
    background-color: white;
}

.body .collection .titleLine p{
    margin: auto;
    font-size: 18px;
    color: gray;
    font-family: 'Gramond Premier Pro Medium Caption';
}

.body .collection .optionLine{
    width: 40%;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-items: center;
    background-color: white;
}

.body .collection .optionLine p{
    margin: auto;
    font-size: 30px;
    color: gray;
    font-family: 'Gramond Premier Pro Medium Caption';
}

.body .collection .row{
    display: flex;
    width: 90%;
    background-color: white;
    position: relative;
    z-index: 9;
    margin-left: auto;
    margin-right: auto;
}

.body .collection .row .item{
    width: 21%;
    margin-left: 2%;
    margin-right: 2%;
    position: relative;
}

.body .collection .row .item img{
    width: 100%;
}

.body .collection .row .item a img.subPhoto{
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: 0.5s;
}

.body .collection .row .item a:hover img.subPhoto{
    opacity: 1;
}

.body .collection .row .item p{
    text-align: center;
    color: gray;
    font-family: 'Gramond Premier Pro Medium Caption';
}

.body .collection .row .item a.name{
    text-decoration: none;
    transition: 0.3s;
}

.body .collection .row .item a.name:hover p{
    color: black;
}

.body .seeAll{
    width: 40%;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-items: center;
    background-color: white;
}

.body .seeAll a{
    margin-left: auto;
    margin-right: auto;
    width: 120px;
    height: 100%;
    text-decoration: none;
}

.body .seeAll a .seeAllButton{
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 100%;
    background-color: black;
    border-style: solid;
    border-color: black;
    transition: 0.4s;
    display: flex;
}

body .seeAll a:hover .seeAllButton{
    background-color: white;
}

body .seeAll a .seeAllButton p{
    margin: auto;
    font-size: 20px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

body .seeAll a:hover .seeAllButton p{
    color: black;
}

/* -- Mission -- */
.body .mission{
    width: 100%;
    height: 500px;
    position: relative;
    z-index: 9;
    align-items: center;
    border-bottom-style: inset;
    border-bottom-color: #a3a3a3;
}

.body .mission .missionContent{
    background-color: rgba(255, 255, 255, 0.76);
    width: 300px;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 200px;
    margin-bottom: 200px;
    text-align: center;
    border-style: solid;
    border-color: #ffffff;
    transition: 0.4s;
}

.body .mission .missionContent:hover{
    background-color: white;
}

.body .mission .missionContent p{
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 18px;
    font-family: 'Courier New', Courier, monospace;
}


/* New Arrivals CSS */
.detailProduct{
    display: flex;
    padding-top: 120px;
    margin-left: 20px;
}
.detailProduct .category{
    width: 250px;
    justify-content: space-between;
}
.productItem{
    display: flex;
    flex-wrap: wrap;
    width: calc(100% - 300px);
    background-color: white;
    position: relative;
    z-index: 9;
}

.productItem .item{
    width: 20%;
    margin-left: 2%;
    margin-right: 2%;
    position: relative;
}

.productItem .item img{
    width: 100%;
}

.productItem .item a img.subPhoto{
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: 0.5s;
}

.productItem .item a:hover img.subPhoto{
    opacity: 1;
}

.productItem .item p{
    text-align: center;
    color: gray;
    font-family: 'Gramond Premier Pro Medium Caption';
}

.productItem .item a.name{
    text-decoration: none;
    transition: 0.3s;
}

.productItem .item a.name:hover p{
    color: black;
}

.detailProduct .category .listColor{
    display: flex;
    flex-wrap: wrap;
}


.detailProduct .category .buttonColor {
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px 10px;
    max-width: 15%;
    border-radius: 100%;
  }
  
.detailProduct .category .buttonColorOrange{
    background-color: orange;
}
.detailProduct .category .buttonColorPink{
    background-color: pink;
}
.detailProduct .category .buttonColorNavy{
    background-color: navy;
}
.detailProduct .category .buttonColorBrown{
    background-color: brown;
}
.detailProduct .category .buttonColorYellow{
    background-color: yellow;
}
.detailProduct .category .buttonColorGreen{
    background-color: rgb(74, 189, 74);
}
.detailProduct .category .buttonColorMossyGreen{
    background-color: rgba(24, 77, 24, 0.897);
}
.detailProduct .category .buttonColorGray{
    background-color: gray;
}
.detailProduct .category .buttonColorBlack{
    background-color: black;
}
.detailProduct .category .buttonColorRed{
    background-color: red;
}

.detailProduct .category .listMaterial a:hover{
    transition: 0.2s;
    color: black;
    font-size: larger;
}
.detailProduct .category .listMaterial a{
    text-decoration: none;
    color: rgb(95, 93, 93);
    padding-left: 15px;
}
.detailProduct .category .listMaterial li{
    list-style: none;
}
.header .searchIcon{
    display: none;
    visibility: hidden;
}
.header .bagIcon{
    display: none;
    visibility: hidden;
    font-size: x-large;
    cursor: pointer;
}
.bottomna{
    width: 100%;
    height: 100%;
}
.bottomna .row{
    display: flex;
    width: 100%;
    background-color: white;
    position: relative;
    z-index: 9;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    padding-bottom: 100px;
    padding-top: 50px;
}

.bottomna .row .itemBottom{
    width: 21%;
    margin-left: 2%;
    margin-right: 2%;
    position: relative;
}

.bottomna .row .itemBottom p{
    font-size: 20px;
    color: black;
    font-family: 'Gramond Premier Pro Medium Caption';
}

.bottomna .row .itemBottom p u{
    font-size: 18px;
    color: rgb(145, 94, 0);
}

.bottomna .row .itemBottom a.name{
    text-decoration: none;
    transition: 0.3s;
}

.bottomna .row .itemBottom a.name:hover p{
    color: rgb(145, 94, 0);
}

.is-visibled{
    display: initial;
    visibility: visible;
    transform: translateX(0);
    transition: 0.3s;
}

@media only screen and (max-width: 1240px){

    .detailProduct .item{
        width: 29%;
    }

    .header .searchText{
        display: none;
        visibility: hidden;
    }
    .header .bagText{
        display: none;
        visibility: hidden;
    }
    .header{
        border-bottom:solid 1px gray;
        
        }

    .header .searchIcon{
        display: initial;
        visibility: initial;
    }
    .header .bagIcon{
        display: initial;
        visibility: initial;
    }
    .menuZone{
        display: none;
        visibility: hidden;
    }
}


@media only screen and (max-width: 1008px) {
    .body .slideBackground .ChildSlide .carousel-inner .carousel-item img.slideImgMoblie{
        opacity: 1;
    }


    .body .collection .row .item{
        width: 43%;
    }
    .detailProduct{
        padding-top: 70px;
    }
    .detailProduct .item{
        width: 43%;
    }
    .detailProduct .category{
        display: none;
        visibility: hidden;
    }
    .detailProduct .productItem{
        width: 100%;
    }

}
@media only screen and (max-width: 1240px) and (min-width: 1080px) {
    .detailProduct .item{
        width: 29%;
    }
    .bottomna .row .itemBottom{
        /* width: 50%; */
        flex-basis: 45%;
    }
}
@media only screen and (max-width: 1240px) {
    .header .searchText{
        display: none;
        visibility: hidden;
    }
    .header .bagText{
        display: none;
        visibility: hidden;
    }
    .bottomna .row .itemBottom{
        width: 100%
    }
    .header .MenuButton .barMenu{
        display: initial;
        visibility: visible;
    }
}
@media only screen and (min-width: 1240px) {


}

