*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
.detailItem{
    display: flex;
    padding-top: 120px;
    justify-content: center;
}
.detailItem .itemImages{
    width: 35%;
    /* padding-right: 50px; */
}
.detailItem .itemImages img{
    width: 100%;
    padding-bottom: 30px;

}
.detailItem .itemInfo{
    width: 35%;
    padding-left: 1rem;
    padding-right: 1rem;
}
.detailItem .itemInfo .priceItem{
    color: #d70000;
}

.detailItem .itemInfo .formInfo .formGroup{
    display: flex;
}
.detailItem .itemInfo .formInfo .formInput{
    display: block;
    padding: 12px 14px;
    border-radius: 0;
    border: 1px solid #e0e0e0;
    width: 100%;
    line-height: normal;
    resize: none;
    transition: border-color 0.1s ease-in-out;
    background: transparent;
    margin: 10px;
}
.detailItem .itemInfo .formInfo  .formInput{
    margin-bottom: 20px;
    width: 100%;
}
.detailItem .itemInfo .formInfo  .buttonInput{
    transition:  0.45s ;
    color: white;
    background: #323443;
}
.detailItem .itemInfo .formInfo  .buttonInput:hover{
    color: black;
    background: white;
    border: solid 1px gray;
}
.detailItem .itemInfo .detailInfo{
    position: relative;
} 
.detailItem .itemInfo .detailInfo ul{
    padding-left: 35px;
}
.plusIcon{
    z-index: 9;
}
.plusIcon,.minusIcon{
    position: absolute;
    right: 0;
    cursor: pointer;
    padding-top: 5px;
    transition: 0.4s;
}
.mantainDetail, .deliveryDetail{
    display: none;
    visibility: hidden;
}

.appear{
    display: initial;
    visibility: visible;
}
.hidden{
    opacity: 0;
}
.bottomna, .plusIcon, .minusIcon{
    padding-left: 1rem;
    padding-right: 1rem;
}
.detailItem .itemImages .itemImagesForMobile{
    display: none;
    visibility: hidden;
}



@media only screen and (max-width: 1008px) {
    .detailItem {
        display: initial;
        width: 100%;
        padding-top: 0;
    }
    .detailItem .itemInfo{
        width: 100%;
    }
    .detailItem .itemImages .itemImagesForPC{
        display: none;
        visibility: hidden;
    }
    .detailItem .itemImages{
        width: 100%;
    }.bottomna{
        width: 100%;
    }
    .bottomna .row{
        display: initial;
        width: 100%;
    }
    
    .bottomna .row .itemBottom{
        width: 100%;
    }
    .hrSpace{
        display: none;
        visibility: hidden;
    }
    .detailItem .itemImages .itemImagesForMobile{
        display: initial;
        visibility: visible;
    }

}
