/* start */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.no-hightlight{
    text-decoration: none;
    color: #000;
}
hr{
    height: 0.5px;
    background-color: gray;
    border: none;
}
/* ----- Logo Zone ----- */
.header{
    width: 100%;
    height: 50px;
    position: fixed;
    z-index: 10;
    background-color: white;
}

/* logo */
.header .logo{
    width: 40%;
    height: 50px;
    margin: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
}

.header .logo a{
    height: 100%;
    margin: auto;
}

.header .logo img{
    height: 100%;
}

/* menu button */
.header .MenuButton{
    width: 70px;
    height: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    position: fixed;
    top: 0;
    left: 0;
    text-align: center;
}

.header .MenuButton a{
    color: grey;
    font-size: 16px;
    text-decoration: none;
}

.header .MenuButton a:hover{
    color: black;
}


/* search button */

.header .search{
    width: 70px;
    height: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    position: fixed;
    top: 0;
    right: 70px;
    text-align: center;
}
.header .cart  .searchIcon{
    margin-right: 10px ;
}

.header .search a{
    color: grey;
    font-size: 16px;
    text-decoration: none;
}

.header .search a:hover{
    color: black;
}

.header .searchIcon{
    display: none;
    visibility: hidden;
}
.header .bagIcon{
    display: none;
    visibility: hidden;
}

/* cart button */
.header .cart{
    width: 70px;
    height: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    position: fixed;
    top: 0;
    right: 0;
    text-align: center;
}

.header .cart a{
    color: grey;
    font-size: 16px;
    text-decoration: none;
}

.header .cart a:hover{
    color: black;
}

/* ----- Menu Zone ----- */
.menuZone{
    width: 100%;
    height: 50px;
    background-color: white;
    position: fixed;
    z-index: 10;
    top: 50px;
    border-bottom-style: inset;
    border-bottom-color: #a3a3a3;
    border-width: 1px;
}

.menuZone ul.listParentMenu{
    width: 90%;
    height: 100%;
    display: flex;
    justify-content: center;
    list-style: none;
    margin: auto;
}

.menuZone ul.listParentMenu .parentMenu{
    position: relative;
    width: 100%;
}

.menuZone ul.listParentMenu .parentMenu .parentItem{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    padding: 10px;
    margin: auto;
    transition: 0.2s;
}

.menuZone ul.listParentMenu .parentMenu:hover .parentItem{
    border-bottom-style: inset;
    border-bottom-color: #000000;
}

.menuZone ul.listParentMenu .parentMenu .parentItem a.parentName{
    height: 100%;
    color: #5c5c5c;
    text-decoration: none;
    font-family: 'Aviano Sans Regular';
    text-transform: uppercase;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 14px;
    transition: 0.4s;
}

.menuZone ul.listParentMenu .parentMenu:hover .parentItem a.parentName{
    color: #000000;
}

.menuZone ul.listParentMenu .parentMenu .childMenu{
    position: absolute;
    top: 50px;
    left: 0;
    visibility: hidden;
    opacity: 0;
    z-index: 10;
    border-left-style: solid;
    border-left-color: #f7f7f7;
    border-right-style: solid;
    border-right-color: #f7f7f7;
    border-bottom-style: solid;
    border-bottom-color: #f7f7f7;
    transition: 0.5s;
}

.menuZone ul.listParentMenu .parentMenu:hover .childMenu{
    visibility: visible;
    opacity: 1;
}

.menuZone ul.listParentMenu .parentMenu .childMenu ul.listChildMenu{
    list-style: none;
}

.menuZone ul.listParentMenu .parentMenu .childMenu ul.listChildMenu li a{
    display: block;
    color: #5c5c5c;
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma;
    text-transform: uppercase;
    font-size: 14px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    transition: 0.4s;
    background-color: white;
}

.menuZone ul.listParentMenu .parentMenu .childMenu ul.listChildMenu li a:hover{
    background-color: gray;
    color: white;
}

/* ----- Space ----- */
.space{
    width: 100%;
    height: 25px;
    margin: 0;
    /* background-color: green; */
}

.spaceEnd{
    width: 100%;
    height: 25px;
    margin: 0;
    /* background-color: green; */
    border-bottom-style: inset;
    border-bottom-color: #a3a3a3;
    border-width: 1px;
}

/* ----- Body ----- */
.body{
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 9;
    top: 50px;
    z-index: 9;
}

/* -- collection -- */
.body .collection{
    width: 100%;
    position: relative;
    z-index: 9;
    background-color: white;
}

.body .collection .optionLine{
    width: 40%;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-items: center;
    background-color: white;
}

.body .collection .optionLine p{
    margin: auto;
    font-size: 35px;
    color: rgb(77, 77, 77);
    font-family: 'Gramond Premier Pro Medium Caption';
}

.body .collection .row{
    display: flex;
    width: 90%;
    background-color: white;
    position: relative;
    z-index: 9;
    margin-left: auto;
    margin-right: auto;
}

.body .collection .row .item{
    width: 21%;
    margin-left: 2%;
    margin-right: 2%;
    position: relative;
}

.body .collection .row .item img{
    width: 100%;
}

.body .collection .row .item p{
    color: black;
    font-family: 'Gramond Premier Pro Medium Caption';
}

.body .collection .row .item a.name{
    text-decoration: none;
    transition: 0.3s;
}

.body .collection .row .item a.name:hover p{
    color: blue;
}
/* bottomna */
.body .bottomna .row{
    display: flex;
    width: 90%;
    background-color: white;
    position: relative;
    z-index: 9;
    margin-left: auto;
    margin-right: auto;
}

.body .bottomna .row .item{
    width: 21%;
    margin-left: 2%;
    margin-right: 2%;
    position: relative;
}

.body .bottomna .row .item p{
    font-size: 20px;
    color: black;
    font-family: 'Gramond Premier Pro Medium Caption';
}

.body .bottomna .row .item p u{
    font-size: 18px;
    color: rgb(145, 94, 0);
}

.body .bottomna .row .item a.name{
    text-decoration: none;
    transition: 0.3s;
}

.body .bottomna .row .item a.name:hover p{
    color: rgb(145, 94, 0);
}


@media only screen and (max-width: 1240px) {
    .body .collection .row .item{
        width: 43%;
    }

    /* bottomna */
    .body .bottomna .row .item{
        width: 43%;
    }

    .body .bottomna .row .item p{
        font-size: 18px;
    }

    .body .bottomna .row .item p u{
        font-size: 16px;
    }
}

@media only screen and (max-width: 1008px) {
    .header{
        border-bottom-style: inset;
        border-bottom-color: #a3a3a3;
        border-width: 1px;
    }

    .menuZone{
        display: none;
        visibility: hidden;
    }
    .header .searchText{
        display: none;
        visibility: hidden;
    }
    .header .bagText{
        display: none;
        visibility: hidden;
    }
    .header .searchIcon{
        display: initial;
        visibility: initial;
    }
    .header .bagIcon{
        display: initial;
        visibility: initial;
    }
    .body .collection .optionLine p{
        font-size: 30px;
    }
    /* bottomna */
    .body .bottomna .row .item{
        width: 98%;
    }

    .body .bottomna .row .item p{
        font-size: 16px;
    }

    .body .bottomna .row .item p u{
        font-size: 14px;
    }
}

@media only screen and (max-width: 640px) {
    .body .collection .row .item{
        width: 98%;
    }
}

@media only screen and (max-width: 320px) {
    .body .collection .optionLine p{
        font-size: 20px;
    }
}



